* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Agdasima", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 0, 27);
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(88, 155, 255, 0.274) 0%, rgba(255,255,255,0) 45%);
}

.parent .date {
    color: aliceblue;
    font-size: 25px;
}

.parent .clock {
    color: aliceblue;
    font-size: 55px;
    font-weight: 900;
}